/* $Id: zen.css,v 1.14.2.1 2009/02/13 07:46:04 johnalbin Exp $ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */
 body {
 	text-align: left;
 	margin:0 0 0 0;
 	padding:0px;
 	font-family: Helvetica, Tahoma, sans-serif;
 }
 .blok {
 	display: block;
 	}
 img {
 	border: none;
 }
 a{
   text-decoration: none;
 }
 a img{
 	border: none;
 }

 ul{
 	list-style: none;
 	padding: 0px;
 	margin: 0px;
 }
 h1, h2, h3, h4, h5, p{
   margin: 0px;
   padding: 0px;
 }
 
 /*flotantes*/
 .fLeft {
 	float: left;
 }
 .fRight {
 	float: right;
 }
 .blok {
 	display: block;
 }
 .clear {
 	clear:both;
 }
 :-moz-any-link:focus {
 outline: none;
 }
 /*para fixear el alto de los layers con background*/
 .clearfix:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
 }
 .clearfix {display: inline-block;}

 /* Hides from IE-mac \*/
 /** html .clearfix {height: 1%;}*/
 .clearfix {display: block;}
 /* End hide from IE-mac */
 /***************************/


/** body **/
  body
  {
    background: #222222;
  }

  #page
  {
    background: #FFFFFF;
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
  }

  #header-inner
  {
    padding: 15px 30px;
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
    margin: 0;
    padding: 0;
    width: 192px;
    height: 79px;
    float: left;
  }

  #logo /* Wrapper for logo */
  {
    margin: 0;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
    display: none;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
    width: 105px;
    height: 33px;
    float: right;
    margin-bottom: 24px;
  }

/** main (container for everything else) **/
  #main
  {
  }

  #main-inner
  {
  }

/** content **/
  #content
  {
  }

  #content-inner
  {
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }
  


  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
    display: none;
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
    display: none;
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
    margin: 0;
    padding: 0;
    float: right;
    width: 420px;
    height: 19px;
    clear: right;
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {
  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node div.links /* Wrapper for node links */
  {
    margin: 1em 0;
  }

  ul.links /* Taxonomy links, node links, comment links */
  {
    margin: 0;
    padding: 0;
  }

  ul.links.inline
  {
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comments-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-2 /* "Primary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  	padding-left: 20px;
  	background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
  	list-style-type: disc;
  	list-style-position: outside;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
  #skip-to-nav{
    display: none;
  }
  #block-facebook_grabbit-1{
    margin: 0;
    padding: 0;
    width: 105px;
    height: 33px;
    float: right;
  }
  #block-facebook_grabbit-1 .content a{
    display: block;
    width: 105px;
    height: 33px;
    background: url(images/btns/tell_friend.gif) 0 0 no-repeat;
    text-indent: -3000em;
  }
  #block-facebook_grabbit-1 .content a:hover{
    border: none;
    text-decoration: none;
  }
  #primary ul.links{
    margin: 0px;
    padding: 0px;
    text-align: right;
  }
  #primary ul.links li{
    list-style: none;
    padding: 0px;
  }
  #primary ul.links li a {
    display: block;
    height: 19px;
    text-indent: 3000em;
    float: right;
    overflow: hidden;
    margin-left: 20px;
  }
  #primary ul.links li.menu-2445 a, #primary ul.links li.menu-2445 a{
    width: 60px;
    background: url(images/navbar/sig_in_nh.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-2445 a.active, #primary ul.links li.menu-2445 a.active{
    background: url(images/navbar/sig_in_ho.gif) 0 0 no-repeat;
  }
  
  #primary ul.links li.menu-1844 a, #primary ul.links li.menu-2446 a{
    width: 52px;
    background: url(images/navbar/home_nh.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1844 a.active, #primary ul.links li.menu-2446 a.active{
    background: url(images/navbar/home_ho.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1845 a{
    width: 90px;
    background: url(images/navbar/profile_nh.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1845 a.active{
    background: url(images/navbar/profile_ho.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1860 a{
    width: 62px;
    background: url(images/navbar/friends_nh.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1860 a.active{
    background: url(images/navbar/friends_ho.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1691 a, #primary ul.links li.menu-2444 a{
    width: 38px;
    background: url(images/navbar/help_nh.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1691 a.active, #primary ul.links li.menu-2444 a.active{
    background: url(images/navbar/help_ho.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1861 a{
    width: 72px;
    background: url(images/navbar/sign_out_nh.gif) 0 0 no-repeat;
  }
  #primary ul.links li.menu-1861 a.active{
    background: url(images/navbar/sign_out_ho.gif) 0 0 no-repeat;
  }
  /* Update form styles */
  #content-form{
    background: #FFCA00;
  }
  .panels-update-wraper{
    padding: 15px 30px;
  }
  #facebook-grabbit-update-form{
    height: 90px;
    color: #666666;
    font-size: 10px;
    line-height: 12px;
    position: relative;
  }
  #facebook-grabbit-update-form .user-data{
    width: 211px;
    float: left;
    display: block;
  }
  #facebook-grabbit-update-form .picture{
    width: 48px;
    overflow: hidden;
    margin-right: 10px;
    float: left;
  }
  #facebook-grabbit-update-form .user-name{
    width: 100px;
    float: left;
    color: #FFFFFF;
    font-size: 12px;
  }
  #edit-status-wrapper{
    display: block;
    width: 387px;
    float: left;
  }
  #facebook-grabbit-update-form .form-item{
    margin: 0px;
    padding: 0px;
  }
  #edit-status-wrapper textarea{
    display: block;
    width: 367px;
    height: 90px;
    background: url(images/various/up_txtarea.gif) 0 0 no-repeat;
    border: none;
  }
  #facebook-grabbit-update-form .form-submit{
    display: block;
    border: none;
    text-indent: -3000em;
    float: left;
    width: 77px;
    height: 32px;
    background: url(images/various/up_submit.gif);
    clear: right;
    padding: 0px;
    margin: 10px 150px 10px 0px;
    cursor: pointer;
  }
  .grippie{
    display: none;
  }
  #edit-facebook-wrapper{
    float: left;
    width: 85px;
  }
  #edit-twitter-wrapper{
    width: 85px;
    float: left;
  }

  /* Estilos cuerpo de la pagina */

  #placeholderSortable{
    display: none;
  }
  #content-header{
  }
  #content-area{
    width: 718px;
    float: right;
    padding: 20px 0px;
    overflow:hidden;
  }
  #block-friend_search-2{
    width: 100%;
  }
  #content-top{
    width: 192px;
    padding: 20px 20px 20px 30px;
    float: left;
    clear: left;
    overflow: hidden;
  }
  #panel-0{
    width: 368px;
    float: left;
    margin-right: 19px;
  }
  #panel-1{
    width: 302px;
    float: left;
  }
  .facebook-post,
  .twitter-message-stream,
  .node-stream-news,
  .node-stream-blogs,
  .node-stream-deal
  {
    padding: 10px;
    background: url(images/various/separator.gif) bottom repeat-x;
  }
  .facebook-post .facebook-post-header a.facebook-story-pic,
  .twitter-message-stream .twitter-image{
    width: 48px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
  }
  .facebook-post .facebook-post-header a.facebook-story-name
  {
    color: #0073CF;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    padding-left: 15px;
    margin-bottom: 10px;
    padding-right: 5px;
  }
  #panel-0 .twitter-message-stream a.twitter-name-link{
    color: #0073CF;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    display: block;
    width: 155px;
    padding-left: 15px;
    float: left;
    margin-bottom: 10px;
  }
  #panel-1 .twitter-message-stream a.twitter-name-link{
    color: #0073CF;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    display: block;
    width: 133px;
    padding-left: 15px;
    float: left;
    margin-bottom: 10px;
  }
  
  .facebook-post .facebook-post-header a.facebook-story-name{
    background: url(images/various/facebook_ico_sml.gif) 0 1px no-repeat;
  }
  .twitter-message-stream a.twitter-name-link{
    background: url(images/various/twitter_ico_sml.gif) 0 1px no-repeat;
  }
  .facebook-post .facebook-post-body, .facebook-post .facebook-attachment{
    width: 270px;
    float: left;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
    display: block;
  }
  #panel-1 .twitter-message-stream .twitter-body{
    width: 200px;
    float: left;
    font-size: 12px;
    line-height: 15px;
    display: block;
  }
  #panel-0 .twitter-message-stream .twitter-body{
    width: 270px;
    float: left;
    font-size: 12px;
    line-height: 15px;
    display: block;
  }
  .facebook-post-body a,
  .facebook-attachment a,
  .twitter-body a{
    color: #0073CF;
    text-decoration: none;
  }
  .facebook-post .facebook-comments{
    clear: both;
    padding-left: 58px;
  }
  .facebook-post .facebook-date,
  .twitter-message-stream .twitter-date,
  .node-stream-deal .submitted, 
  .node-stream-news .submitted,
  .node-stream-blogs .submitted{
    display: block;
    clear: both;
    color: #999999;
    font-size: 10px;
    line-height: 11px;
    margin-top: 10px;
  }
  .facebook-post .facebook-comment-form{
    padding-left: 58px;
    display: block;
    clear: both;
    font-size: 10px;
    color: #666666;
  }
  .facebook-comments .facebook-story-pic{
    width: 24px;
    margin-right: 10px;
  }
  .facebook-post .facebook-comment-text, 
  .facebook-post .facebook-comment-timeline{
    font-size: 12px;
    line-height: 15px;
  }
  .facebook-post .facebook-comment-link{
     color: #0073CF;
      font-weight: bold;
      font-size: 12px;
      line-height: 13px;
  }
  .facebook-attach-photo{
    display: block;
  }

.facebook-post, .twitter-message-stream, .node-stream-news, .node-stream-deal, .node-stream-blogs{
	display:none;
}
#block-views-friends-block_1{
 margin-bottom: 10px; 
}
#block-views-suggested_friends-block_1 h2,
#block-views-friends-block_1 h2{
  background: #FFCA00;
  padding: 5px;
  font-size: 12px;
  color: #000;
  line-height: 13px;
  display: block;
}
#block-views-suggested_friends-block_1,
#block-views-friends-block_1{
  display: inline-block;
  width: 100%;
}
#block-views-friends-block_1 .views-row,
#block-views-suggested_friends-block_1 .views-row{
  list-style: none;
  float: left;
  display: block;
  width: 24px;
  height: 24px;
  margin: 5px 0px 0px 5px;
}
#block-views-friends-block_1 .views-row-first,
#block-views-suggested_friends-block_1 .views-row-first{
  margin: 5px 0px 0px 0px;
}
#block-search-0{
  padding-top: 20px;
}
#block-search-0 h2{
  display: none;
}
#edit-search-block-form-1{
  width: 166px;
  height: 23px;
  border-top: 1px solid #B3B3B3;
  border-left: 1px solid #B3B3B3;
  border-bottom: 1px solid #B3B3B3;
  border-right: none;
  float: left;
  padding: 0px;
  margin: 0px;
}
#search-block-form .form-submit{
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  background: url(images/various/search_btn.gif) 0 0 no-repeat;
  text-indent: -3000em;
  border: none;
  cursor: pointer;
}
#counter{
  width: 25px;
  height: 16px;
  position: absolute;
  left: 544px;
  top: 68px;
  color: #B3B3B3;
  font-size: 15px;
  line-height: 16px;
}
a.twit-reply{
  display: block;
  width: 10px;
  height: 12px;
  background: url(images/various/reply_ico.gif) 0 0 no-repeat;
  float: right;
  text-indent: 3000em;
  overflow: hidden;
  margin-left: 10px;
}
a.facebook-makecomment-link, a.comment-news{
  display: block;
  width: 10px;
  height: 12px;
  background: url(images/various/reply_ico.gif) 0 0 no-repeat;
  float: right;
  text-indent: 3000em;
  overflow: hidden;
  margin-left: 10px;
}
.url-deal a{
  display: block;
  width: 12px;
  height: 12px;
  background: url(images/various/dollar_ico.gif) 0 0 no-repeat;
  float: right;
  text-indent: 3000em;
  overflow: hidden;
  margin-left: 10px;
}
a.twitter_favorite, a.flag-action{
  display: block;
  width: 12px;
  height: 12px;
  float: right;
  background: url(images/various/favorites_ico_rm.gif) 0 0 no-repeat;
  text-indent: 3000em;
  overflow: hidden;
  margin-left: 10px;
}
.view-my-feeds a.flag{
  display: inline-block;
  width: auto;
  height: auto;
  text-indent: 0px;
  margin: 0px;
  padding: 0px;
  color:#0073CF;
  font-size:12px;
  font-weight:bold;
  line-height:13px;
  background: none;
  float: none;
}
a.twitter_favorite-remove, a.unflag-action{
  display: block;
  width: 12px;
  height: 12px;
  float: right;
  background: url(images/various/favorites_ico.gif) 0 0 no-repeat;
  text-indent: 3000em;
  overflow: hidden;
  margin-left: 10px;
}
a.retweet, a.grabb-that{
  display: block;
  width: 10px;
  height: 12px;
  background: url(images/various/reply_ico2.gif) 0 0 no-repeat;
  float: right;
  text-indent: 3000em;
  overflow: hidden;
  margin-left: 10px;
}
.section-user #content-area
{
	padding-right: 10px;
	width: 708px;
}
.section-user #content-area fieldset
{
	border: 1px solid #CCCCCC;
}
.section-user #content-area legend, 
.section-user #content-area legend a
{
	color: #333333;
	font-size: 11px;
}
#panel-0 .panel-title h3{
  font-size: 20px;
  color: #333333;
  line-height: 21px;
  margin-bottom: 0px;
}
#panel-1 .panel-title h3{
  font-size: 20px;
  color: #999999;
  line-height: 21px;
  margin-bottom: 0px;
  width: 150px;
  float: left;
  display: block;
}
#panel-0 .panel-title{
  padding-bottom: 23px;
  background: url(images/various/bg_main_top.gif) bottom left no-repeat;
}
#panel-1 .panel-title{
  padding-bottom: 23px;
  background: url(images/various/bg_left_top.gif) bottom left no-repeat;
}
#panel-0 .panel-wraper{
  background: url(images/various/bg_main_mid.gif) 0 0 repeat-y;
  padding: 0px 5px 10px 5px;
}
#panel-1 .panel-wraper{
  background: url(images/various/bg_left_mid.gif) 0 0 repeat-y;
  padding: 0px 5px 10px 5px;
}
#panel-0 .panel-controller{
  height: 26px;
  background: url(images/various/p0_more.gif) 0 0 no-repeat;
  text-align: center;
}
#panel-1 .panel-controller{
  height: 26px;
  background: url(images/various/p1_more.gif) 0 0 no-repeat;
  text-align: center;
}
#panel-0 .panel-controller a,
#panel-1 .panel-controller a{
  font-size: 14px;
  line-height: 15px;
  text-decoration: none;
  color: #999999;
  margin: 0px;
}
a.panel-gear{
  display: block;
  float: right;
  width: 35px;
  height: 20px;
  overflow: hidden;
  text-indent: 3000em;
  background: url(images/various/engrane.gif) 0 0 no-repeat;
}
a.panel-filters{
  float: right;
  margin-right: 10px;
  font-size: 12px;
  color: #999999;
  line-height: 15px;
  text-decoration: none;
  padding-top: 7px;
  font-weight: bold;
}
.node-stream-deal .content-floated-right
{
	float: right;
}
.node-stream-deal .content-floated-left
{
	font-size: 12px;
	line-height: 15px;
}
.node-stream-deal .image-deal, .node-stream-blogs .image-deal, .node-stream-news .image-deal
{
	float: left;
	margin-right: 10px;
}
.node-stream-deal .content-body
{
	float: left;
}
#panel-1 .node-stream-deal .content-body, #panel-1 .node-stream-news .content-body,
#panel-1 .node-stream-blogs .content-body
{
	float: left;
	font-size:12px;
  line-height:15px;
}
.news-comments{
  padding-top: 10px;
  clear: both;
}
.news-comments .news-comment{
	margin-bottom:10px;
}
#panel-0 .node-stream-deal .content-body, #panel-0 .node-stream-news .content-body,
#panel-0 .node-stream-blogs .content-body
{
	font-size:12px;
  line-height:15px;
}
#panel-0 .node-stream-news h2,
#panel-0 .node-stream-blogs h2,
#panel-0 .node-stream-deal h2{
  float: left;
  display: block;
  margin-bottom: 10px;
  line-height: 13px;
  width: 200px;
}
#panel-1 .node-stream-news h2,
#panel-1 .node-stream-blogs h2,
#panel-1 .node-stream-deal h2{
  float: left;
  display: block;
  margin-bottom: 10px;
  line-height: 13px;
  width: 160px;
}
.node-stream-news h2 a,
.node-stream-blogs h2 a,
.node-stream-deal h2 a{
  color: #0073CF;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
}
.node-stream-news h2,
.node-stream-blogs h2{
}
.node-stream-deal h2{
  width: 130px;
}
.node-stream-news .content-body,
.node-stream-blogs .content-body{
  display: block;
  clear: both;
}
.node-stream-deal .meta{
  display: inline-block;
}
.facebook-post .facebook-image-comment
{
	float: left;
	margin-right: 10px;
}
.facebook-post .facebook-comment-timeline
{
	display: block;
}
.facebook-post .facebook-comment-text
{
	float: left;
}
#panel-0 .facebook-post .facebook-comment-text
{
	width: 240px;
}
#panel-1 .facebook-post .facebook-comment-text
{
	width: 174px;
}
.facebook-post .facebook-comments .facebook-date
{
	float: left;
	margin-left: 40px;
	margin-top: 4px;
}
.facebook-post .facebook-comments
{
	margin-bottom: 10px;
}

#panel-1 .facebook-post .facebook-post-body
{
	width: 204px;
}

#panel-1 .facebook-post .facebook-post-header a.facebook-story-name
{
	width: 174px;
}
.links_stream{
  float: right;
}
#panel-0 .facebook-with-target{
  display: block;
  width: 215px;
  float: left;
  color: #0073CF;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
}
#panel-0 .facebook-with-target a{
  color: #0073CF;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  padding-left: 15px;
  margin-bottom: 10px;
}
.node-stream-news .news-comments{
  padding-top: 10px;
}
.node-stream-news .news-comments .news-comment-picture,
.node-stream-blogs .news-comments .news-comment-picture,
.node-stream-deal .news-comments .news-comment-picture{
  width: 30px;
  margin-right: 10px;
  float: left;
  display: block;
}
.node-stream-news .news-comments .facebook-comment-link,
.node-stream-blogs .news-comments .facebook-comment-link,
.node-stream-deal .news-comments .facebook-comment-link{
  color:#999999;
  font-size:10px;
  line-height:15px;
  margin-top:10px;
}
.node-stream-news .news-comments .facebook-comment-link a,
.node-stream-blogs .news-comments .facebook-comment-link a,
.node-stream-deal .news-comments .facebook-comment-link a{
  color:#0073CF;
  font-size:12px;
  font-weight:bold;
  line-height:13px;
}
.node-stream-news .news-comments .news-comment-content,
.node-stream-blogs .news-comments .news-comment-content,
.node-stream-deal .news-comments .news-comment-content{
  font-size: 12px;
  line-height: 15px;
}
.submitted{
  display: block;
}
.submitted a{
  color:#0073CF;
  font-size:12px;
  font-weight:bold;
  line-height:13px;
}
.view-friends .views-row .views-field-action-socital-networks .field-content .from-facebook{
  margin-left:5px;
}
.view-friends .views-row .views-field-action-socital-networks .field-content .from-twitter{
  margin-left:5px;
}
a.truncate_show{
	display:block;
	color:#0073CF;
	font-weight:bold;
	margin-top:10px;
	font-size:12px;
	background: url(images/various/more.gif) 0 0 no-repeat;
	padding-left:10px;
}
a.truncate_hide{
	display:block;
	color:#0073CF;
	font-weight:bold;
	margin-top:10px;
	font-size:12px;
	background: url(images/various/less.gif) 0 0 no-repeat;
	padding-left:10px;
}

#panel-0 .node-stream-news .item-body,
#panel-0 .node-stream-blogs .item-body,
#panel-0 .node-stream-deal .item-body{
  width: 280px;
  float: left;
}

#panel-1 .node-stream-news .item-body,
#panel-1 .node-stream-blogs .item-body,
#panel-1 .node-stream-deal .item-body{
  width: 210px;
  float: left;
}