/* $Id$ */

/* Fixed layout; standard sidebar placement */

#page, .no-sidebars #content {
  width: 953px;
}

#sidebar-left {
  width: 242px;
  margin-right: -242px;
}

#sidebar-right {
  width: 350px;
  margin-left: 610px;
  margin-right: -960px;
}

#content {
  margin-right: -960px;
}

.sidebar-left #content {
  width: 718px;
  margin-left: 242px;
  margin-right: -960px;
}

.sidebar-right #content {
  width: 610px;
  margin-right: -610px;
}

.two-sidebars #content {
  width: 368px;
  margin-left: 242px;
  margin-right: -610px;
}