.panels-pager a{
	width:5px; 
	height:5px; 
	margin:2px; 
	float:left; 
    border:1px #CCCCCC solid;
    text-indent: 3000em;
}

.panels-pager{
	position:absolute;
	margin-left:125px;
	margin-top:-15px;
	overflow:hidden;
}

.panels-pager a.activeSlide{
    background:#CCCCCC;
}

.user-panels .panel-grabbit .panel-title h3{
	font-size:14px;
}

#panel-0 .margin-top{
	margin-top:5px;
}

#content-area .panel-controllers{
	margin-top: -10px;
}

#panel-0 .panel-wraper{
  background: url(img/bg_main_mid.gif) 0 0 repeat-y !important;
  padding: 0px 5px 10px 5px;
  width: 324px;
}