.panels-pager a{
	width:5px; 
	height:5px; 
	margin:2px; 
	float:left; 
    border:1px #CCCCCC solid;
    text-indent: 3000em;
}

.panels-pager{
	position:absolute;
	margin-left:500px;
	margin-top:-15px;
}

.panels-pager a.activeSlide{
    background:#CCCCCC;
}

.user-panels .panel-grabbit .panel-title h3{
	font-size:14px;
}

#panel-1 .panel-title .title{
	position: relative;
	left: -15px;
}

#panel-1 a.move-left{
	background: transparent url(img/paneluser_move_left.png) no-repeat scroll left center;
	float:left;
	width: 15px ;
	height: 15px ;
	position: relative;
	left: -20px;
	top: 2px;
}

#panel-1 a.move-right{
	background: transparent url(img/paneluser_move_right.png) no-repeat scroll right center;
	float:right;
	position: relative;
	left: 20px;
	top: -40px;
	width: 15px ;
	height: 15px ;
}

#panel-1 .panel-title .panel-title-left-border{
	background: transparent url(img/paneluser_title_left.png) no-repeat scroll left top;
	width: 9px;
	height: 20px;
	float: left;
	position: relative;
	left: -15px;
}

#panel-1 .panel-title .panel-title-right-border{
	background: transparent url(img/paneluser_title_right.png) no-repeat scroll right top;
	width: 20px;
	height: 20px;
}

#panel-1 .panel-title .title{
	background-color: #CCCCCC;
	color: #666666;
	font-size: 13px;
	height: 20px;
}

#panel-1 .panel-title .thickbox{
	background-color: #CCCCCC;
	float: left;
	position: relative;
	left: -15px;
	color: #666666;
	font-size: 10px;
	margin-right: 0px;
	height: 13px;
}

#panel-1 .panel-title .thickbox span{
	position: relative;
	top: -3px;
	padding-left: 10px;
}

#panel-1 .panel-title .thickbox a{
	height: 20px;
}

#panel-1 .panel-title .panel-gear{
	background: transparent url(img/paneluser_title_right.png) no-repeat scroll left center;
	position: relative;
	left: -15px;
	height: 20px;
}